<launch>
  <arg name="debug" default="false" />
  <param name="mongodb_use_daemon" value="true" />
  <param name="mongodb_host" value="localhost" />
  <param name="mongodb_port" value="27017" />
  <node name="message_store" pkg="mongodb_store" type="message_store_node.py" output="screen" required="true" /> 

  <group ns="rapid_pbd">
    <param name="robot" value="pr2" />
    <node if="$(arg debug)" name="editor_node" pkg="rapid_pbd" type="editor_node" output="screen" required="true" launch-prefix="xterm -e gdb --args" />
    <node unless="$(arg debug)" name="editor_node" pkg="rapid_pbd" type="editor_node" output="screen" required="true" />
  </group>
</launch>
