<launch>
  <include file="$(find rapid_pbd)/launch/fetch.launch">
    <arg name="sim" value="false" />
  </include>
  <include file="$(find rapid_pbd)/launch/editor.launch">
    <arg name="robot" value="fetch" />
  </include>
  <include file="$(find rapid_pbd)/launch/fetch_moveit.launch" />
</launch>
