<launch>
  <include file="$(find rapid_pbd)/launch/fetch.launch">
    <arg name="sim" value="false" />
  </include>
  <include file="$(find rapid_pbd)/launch/editor.launch">
    <arg name="robot" value="fetch" />
  </include>
  <include file="$(find rapid_pbd)/launch/fetch_moveit.launch" />
  <node pkg="tf2_web_republisher" name="tf2_web_republisher" type="tf2_web_republisher" />
</launch>
