<launch>
  <group ns="rapid_pbd"> 
    <param name="num_arms" value="2" />
    <param name="l_gripper_open_position" value="0.08" />
    <param name="r_gripper_open_position" value="0.08" />
    <param name="l_gripper_has_force_sensor" value="false" />
    <param name="r_gripper_has_force_sensor" value="true" />
    <param name="r_gripper_min_force" value="0" />
    <param name="r_gripper_max_force" value="100" />
    <param name="l_gripper_min_force" value="100" />
    <param name="l_gripper_max_force" value="100" />
    <param name="min_head_pan" value="-2.8" />
    <param name="max_head_pan" value="2.8" />
    <param name="min_head_tilt" value="-0.44" />
    <param name="max_head_tilt" value="0.96" />
    <node pkg="rapid_pbd" type="pr2_action_node" name="pr2_actuator_server" />
    <node pkg="rapid_pbd" type="program_execution_node" name="program_executor">
      <remap from="l_arm_joint_action" to="/l_arm_controller/follow_joint_trajectory" />
      <remap from="r_arm_joint_action" to="/r_arm_controller/follow_joint_trajectory" />
    </node>
  </group>
</launch>
