<launch>
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch" />
  <include file="$(find rapid_pbd)/launch/pr2_moveit.launch" />
  <include file="$(find rapid_pbd)/launch/web_prereqs.launch" />
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find rapid_pbd)/config/pr2_sim.rviz" />
</launch>
